{% extends 'base.html' %}
{% block title %}
    我的网站|首页
{% endblock %}
{% block header_extends %}
    <link rel="stylesheet" href="/static/home.css">
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block content %}
    <h3 class="home_content">欢迎访问</h3>
    <div id="container"></div>
    <div class="hot_data">
        <h3>今日热门</h3>
        <ul>
            {% for hot_data in today_hot_data %}
                <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a>({{ hot_data.read_num }})</li>

            {% empty %}
                <li>暂无热门</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot_data">
        <h3>昨日热门</h3>
        <ul>
            {% for hot_data in yesterday_hot_data %}
                <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a>({{ hot_data.read_num }})</li>

            {% empty %}
                <li>暂无热门</li>
            {% endfor %}
        </ul>
    </div>
    <div class="hot_data">
        <h3>7日热门</h3>
        <ul>
            {% for hot_blog in seven_days_hot_data %}
                <li><a href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.title }}</a>({{ hot_blog.read_num_sum }})</li>

            {% empty %}
                <li>暂无热门</li>
            {% endfor %}
        </ul>
    </div>



    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script>
        // 图表配置
        var options = {
            chart: {
                type: 'line'                          //指定图表的类型，默认是折线图（line）
            },
            title: {
                text: null                 // 标题
            },
            xAxis: {
                categories: {{ dates|safe }}   // x 轴分类
            },
            yAxis: {
                title: {
                    text: null                // y 轴标题
                },
                labels:{ enabled:false},
                gridLineDashStyle:'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{ read_nums }}                     // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            }
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
{% endblock %}